# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Recursively delete `.DS_Store` files
alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

alias l="ls -lhart"
alias please="sudo" # be nice
alias fuck='sudo $(history -p \!\!)'
alias server="http-server -s -o"
alias eh="sudo vim /etc/hosts"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias canary="/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary"
alias bew="brew update && brew upgrade && brew cleanup"
alias sim="open -a simulator"
alias rmf="rm -rf"
alias dark="base16_material-darker"
alias light="base16_google-light"
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias gd="git status -s | fzf --no-sort --reverse --preview 'git diff --color="always" {+2} | diff-so-fancy' \
--bind=ctrl-j:preview-down --bind=ctrl-k:preview-up \
--preview-window=right:70%:wrap"
alias blog="z blog && hugo server --buildDrafts --noHTTPCache"
alias sm="source-map-explorer"
