# Create a new directory and cd into it
function create() {
	mkdir -p "$@" && cd "$_";
}

# clone a repo from url (https|git) and cd into it
function clone() {
	local url=$1;
	local repo=$(echo $url | awk -F/ '{print $NF}' | sed -e 's/.git$//');
	git clone $url $repo && cd $repo;
}

# start new project with my 101 files
function start() {
	local name=$1;
	local repo=git@github.com:armno/101.git
	echo "$fg[yellow]Starting new project: $name $reset_color";
	git clone $repo $name && cd $name && rm -rf .git;
	echo "$fg[yellow]Initializing Git Repo$reset_color";
	git init;

	# empty the readme.md
	echo "# $name" > readme.md;
	echo "done"
}

function peg() {
	filename=$(ls -1t $HOME/Desktop/Screen* | head -n 1)
	sips --oneLine --setProperty format jpeg "$filename" --out "$HOME/Desktop/screenshot.jpg"
}
