[user]
	name = Armno
	email = monkeyarmno@gmail.com
[merge]
	ff = false
[mergetool]
	keepBackup = true
[color]
	ui = true
[alias]
	poh = push origin HEAD
	pom = push origin master
  undo = reset HEAD~1
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	sup = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --author=armno
	st = status -sb
	fo = fetch origin
	conflicts = diff --diff-filter=U
	ldm = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --author=armno --no-merges --date=relative
	mo = merge origin/master
[color "status"]
	added = green
	changed = yellow
	untracked = red
[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green
[core]
	editor = mvim -v
	autocrlf = false
	filemode = false
	pager = less -x2
[advice]
	statusHints = false
[push]
	default = simple
