[user]
	name = Armno
	email = monkeyarmno@gmail.com
	useconfigonly = true
[merge]
	ff = false
[mergetool]
	keepBackup = true
[color]
	ui = true
[alias]
	poh = push origin HEAD
	pom = push origin master
  undo = reset HEAD~1
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	sup = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --author=armno
	st = status -sb
	fo = fetch origin
	conflicts = diff --diff-filter=U
	ldm = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --author=armno --no-merges --date=relative
	mo = merge origin/master
	diffm = diff --diff-filter=M
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[color "status"]
	added = green
	changed = yellow
	untracked = red
[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "diff-highlight"]
	oldNormal = "red bold"
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[core]
	editor = vim
	autocrlf = false
	filemode = false
	untrackedCache = true
[advice]
	statusHints = false
[push]
	default = simple
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[fetch]
	prune = true
